/* PRIMARY COLORS */
/* SECUNDARY COLORS */
/* HOVERS COLORS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  background-color: rgb(1, 1, 1);
  color: rgb(255, 254, 254);
}

a {
  text-decoration: none;
  color: rgb(255, 254, 254);
}

ul {
  list-style: none;
}

a, ul, h2, h3, h1 {
  text-transform: uppercase;
}

hr {
  padding: 0.5px;
}

i {
  color: white;
}

.container {
  width: 90%;
  margin-left: 2rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.btn {
  display: inline-block;
  margin: 0.7rem 0;
  background-color: rgba(8, 85, 116, 0.556);
  padding: 0.3rem 1rem;
}
.btn:hover {
  background-color: rgba(107, 100, 100, 0.6);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.8rem 1rem;
  gap: 1rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgb(255, 254, 254);
}
.sticky .nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(1, 1, 1);
  padding: 0 0 0 0.3rem;
}
.sticky .nav-main .logo-brand {
  width: 50px;
  border-radius: 100%;
}
.sticky .nav-main .nav-right {
  display: flex;
}
.sticky .nav-main .nav-right .show-btn {
  display: none;
}
.sticky .nav-main .nav-right li:hover {
  cursor: pointer;
}
.sticky .nav-main .nav-right:nth-child(2) {
  margin-left: 0.7rem;
}
@media (max-width: 640px) {
  .sticky .nav-main .nav-right i {
    font-size: 1.7rem;
  }
  .sticky .nav-main .nav-right .show-btn {
    display: inline-block;
  }
}
.sticky .nav-main .nav-right li i {
  font-size: 1rem;
  margin-left: 0.9rem;
  margin-right: 0.5rem;
}
.sticky .nav-main .nav-menu {
  display: flex;
  flex: 1;
  margin-left: auto;
}
@media (max-width: 640px) {
  .sticky .nav-main .nav-menu {
    display: none;
  }
}
.sticky .nav-main .nav-menu li {
  margin-left: 2rem;
}
.sticky .nav-main .nav-menu a {
  display: block;
  background-color: rgba(8, 85, 116, 0.556);
  padding: 10px 20px;
}
.sticky .nav-main .nav-menu a:hover {
  background-color: rgba(107, 100, 100, 0.6);
}

.min-menu .show {
  display: none;
}

.sticky-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.min-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(-40rem);
  background-color: rgba(8, 85, 116, 0.556);
  padding: 1.2rem;
  min-height: 100vh;
  width: 6rem;
  line-height: 2;
}
.min-menu .menu-text {
  width: 100%;
  padding: 0;
  margin: 0;
}
.min-menu .nav-menu li {
  margin-left: 1rem;
}
.min-menu .nav-menu li:hover {
  border-bottom: 1px solid rgb(255, 254, 254);
}

.show {
  display: block;
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.showcase {
  background: url("https://picsum.photos/1000/500") no-repeat center center/cover;
  height: 300px;
  width: 100%;
  padding: 9rem;
}

.banner {
  background: url("https://picsum.photos/1000/300") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.social {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social h3 {
  margin: 0.5rem 0;
}
.social ul {
  display: flex;
  justify-content: center;
}
.social ul li {
  margin-left: 0.35rem;
}
.social ul li i {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.links {
  display: flex;
  justify-content: space-around;
}
.links ul li {
  line-height: 2;
  margin-bottom: 0.5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}/*# sourceMappingURL=main.css.map */